In [1]:
include("ANOVA.jl")
# data source from http://www.southampton.ac.uk/~cpd/anovas/datasets/index.htm

Main.ANOVA

## One-way ANOVA

In [2]:
anova_test_data = [
    1.5377    0.6923    1.6501    3.7950    5.6715
    2.8339    1.5664    6.0349    3.8759    3.7925
   -1.2588    2.3426    3.7254    5.4897    5.7172
    1.8622    5.5784    2.9369    5.4090    6.6302
    1.3188    4.7694    3.7147    5.4172    5.4889
]
r, f, p = ANOVA.anova(anova_test_data);

One-way Anova
-----------------------------------------------------------------
source		SS	df		MS	F	Prob
-----------------------------------------------------------------
columns	    53.723	4	    13.431	6.049	0.00233
error	    44.408	20	     2.220	NaN	NaN
total	    98.131	24	       NaN	NaN	NaN
-----------------------------------------------------------------

In [3]:
anova_test_Y = [
    1.5377, 2.8339, -1.2588, 1.8622, 1.3188, 
    0.6923, 1.5664, 2.3426, 5.5784, 4.7694,  
    1.6501, 6.0349, 3.7254, 2.9369, 3.7147,
    3.7950, 3.8759, 5.4897, 5.4090, 5.4172,
    5.6715, 3.7925, 5.7172, 6.6302, 5.4889]
anova_test_F = [
    1, 1, 1, 1, 1,
    2, 2, 2, 2, 2, 
    3, 3, 3, 3, 3,
    4, 4, 4, 4, 4, 
    5, 5, 5, 5, 5];

k = ANOVA.anova(anova_test_Y, anova_test_F);

One-way Anova
-----------------------------------------------------------------
source		SS	df		MS	F	Prob
-----------------------------------------------------------------
columns	    53.723	4	    13.431	6.049	0.00233
error	    44.408	20	     2.220	NaN	NaN
total	    98.131	24	       NaN	NaN	NaN
-----------------------------------------------------------------

# One-way Repeated Measures ANOVA

In [4]:
rm_anova_Y = [
    -4.4297,  4.7513,  3.2971, -1.4606, 
     4.8458,  5.1163,  6.0739, -1.9225, 
     6.1542, 10.4794, 12.4438,  9.2150]

rm_anova_S = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
rm_anova_F = [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]
ANOVA.rm_anova(rm_anova_Y, rm_anova_S, rm_anova_F, name=:factor);

One-way repeated measures ANOVA
-----------------------------------------------------------------
source		SS	df		MS	F	Prob
-----------------------------------------------------------------
factor	   169.437	2	    84.718	12.364	0.00744
error	    41.112	6	     6.852	NaN	NaN
S	    74.253	3	    24.751	NaN	NaN
total	   284.802	11	       NaN	NaN	NaN
-----------------------------------------------------------------

# Two-way ANOVA

In [5]:
Y = [
    4.5924, -0.5488, 6.1605, 2.3374, 5.1873, 
    3.3579,  6.3092, 3.2831, 7.3809, 9.2085,
    13.1147,15.2654,12.4188,14.3951, 8.5986, 
    3.4945, 21.3220,25.0426,22.6600,24.1283,
    16.5927,10.2129, 9.8934,10.0203]

A = [
    1, 1, 1, 1, 1, 1, 1, 1, 
    2, 2, 2, 2, 2, 2, 2, 2, 
    3, 3, 3, 3, 3, 3, 3, 3]
B = [
    1, 1, 1, 1, 
    2, 2, 2, 2, 
    1, 1, 1, 1, 
    2, 2, 2, 2, 
    1, 1, 1, 1, 
    2, 2, 2, 2];

ANOVA.anova2(Y, A, B);

Two-way ANOVA
-----------------------------------------------------------------
source		SS	df		MS	F	Prob
-----------------------------------------------------------------
A	   745.360	2	   372.680	37.231	0.00000
B	    91.651	1	    91.651	9.156	0.00726
B*A	   186.368	2	    93.184	9.309	0.00168
error	   745.360	2	   372.680	NaN	NaN
total	  1203.559	23	       NaN	NaN	NaN
-----------------------------------------------------------------

In [6]:
Y = [ 4.5924,-0.5488,  6.1605,  2.3374,  5.1873,  
3.3579,  6.3092,  3.2831,  7.3809,  9.2085, 
13.1147, 15.2654, 12.4188, 14.3951,  8.5986,  
3.4945, 21.3220, 25.0426, 22.6600, 24.1283, 
16.5927, 10.2129,  9.8934, 10.0203];

S = [1, 2, 3, 4, 
1, 2, 3, 4, 
1, 2, 3, 4, 
1, 2, 3, 4, 
1, 2, 3, 4, 
1, 2, 3, 4]

A = [1, 1, 1, 1, 1, 1, 1, 1, 
2, 2, 2, 2, 2, 2, 2, 2, 
3, 3, 3, 3, 3, 3, 3, 3]

B = [1, 1, 1, 1, 
2, 2, 2, 2, 
1, 1, 1, 1, 
2, 2, 2, 2, 
1, 1, 1, 1, 
2, 2, 2, 2];

ANOVA.rm_anova2(Y, S, A, B);

Two-way repeated measures ANOVA
-----------------------------------------------------------------
source		SS	df		MS	F	Prob
-----------------------------------------------------------------
S	     9.075	3	     3.025	NaN	NaN
A	   745.360	2	   372.680	67.578	0.00008
B	    91.651	1	    91.651	4.134	0.13492
B*A	   186.368	2	    93.184	7.819	0.02132
S*A	    33.089	6	     5.515	NaN	NaN
S*B	    66.509	3	    22.170	NaN	NaN
S*B*A	    71.508	6	    11.918	NaN	NaN
total	  1203.559	23	       NaN	NaN	NaN
-----------------------------------------------------------------